.adm_grid{
    display: grid;
    gap:5px;
    grid-template-columns: 10em 10em 30em 1fr 18em;
    grid-template-rows: 4em 4em minmax(0, 1fr);
    grid-template-areas:
        "adm_date adm_comp adm_title adm_note adm_links"
        "adm_status adm_incharge adm_customer adm_note adm_links"
        "adm_logs adm_logs adm_logs adm_logs adm_logs"
}
.adm_comp{grid-area: adm_comp;}
.adm_date{grid-area: adm_date;}
.adm_incharge{grid-area: adm_incharge;}
.adm_logs{
    grid-area: adm_logs;
    display:grid;
    grid-template-rows: 2em 1fr 6em 3em;
    gap: 5px;    
}
.adm_note{grid-area: adm_note;}
.adm_status{grid-area: adm_status;}
.adm_title{grid-area: adm_title;}
.adm_links{grid-area: adm_links;}
.adm_customer{grid-area: adm_customer;}
.adm_footer{
    display:flex;
    align-items: center;
    align-content:center;
    justify-content: center;
    gap:30px;
    background: white;
    padding: 5px;
}
.adm_log_container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}
.adm_log_div{
    border-radius: 3px;
    background: #b1c1e3;
    display:grid;
    grid-template-columns: 15em 1fr;
}
.adm_log_div:hover{
    background: #ace3b2;
}
.adm_log_div_header{
    border-right: 2px solid #EEE;
    padding: 5px;
}
.adm_log_div_text{
    padding: 5px;
    white-space: pre;
}