#expenditure_main{
    position: absolute;
    top:200px;
    z-index:1;
    width:100%;
    overflow:hidden;
    margin:0;
}
#expend_content{
    position: fixed;
    top:200px;
    z-index:1;
    width:100%;
    overflow:hidden;
    height:calc(100vh - 200px);
    margin:0;
}