/*PRINT*/
body{
    background: #BBB;
    box-sizing: border-box;
}
*{
    font-family:Helvetica, sans-serif;
    font-size:12px;
}
.print_content{
    position: relative;
    background: white;
    width: 210mm;
    min-height: 297mm;
    padding: 6mm;
    margin:auto;
}
.print_logo{
    max-height:15mm;
    margin-bottom: 1mm;
    max-width: 60mm;
}
.print_table{
    width: 100%;
    border:0;
}
.print_table2{
    width: 100%;
    border:0;
    border-collapse: collapse;
}
.print_table2 td{
    border-bottom: 1px solid black;
}
.print_table2 th{
    font-weight: bold;
    background: #45bdff;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.align_left{
    text-align: left;
}
.align_right{
    text-align: right;
}
.align_center{
    text-align: center;
}
.border_bottom td{
    border-bottom: 2px solid #183E6D;
}
.print_table{
    vertical-align: bottom;
    border-collapse: collapse;
    width:100%;
}
.print_table td{
    vertical-align: bottom;
}
.head_text{
    font-size: 24px;
}
.print_table3 td{
    vertical-align: top;
}
.print_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid #183E6D;
    color: #183E6D;
    padding: 3mm 6mm;
    margin:0 6mm;
}
.print_button{
    padding: 10px 20px;
    margin:5px;
    font-size: large;
}